NEXT_PUBLIC_SUPABASE_URL=https://opxsaahstbzzykljkubd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
MERCADO_PUBLICO_TICKET=3C884C3E-D7A9-400A-A596-7DFE215C7E0A
REGION_FILTER=14
